{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <hr>
    <h5>Username: {{ profile.user.username }}</h5>
    {% if profile.picture %}
        <img class="image" src="{{ profile.picture.url }}">
    {% else %}
        <img class="image" src="{% static 'images/no_profile_picture.png' %}">
    {% endif %}
    <p>Name: {{ profile.first_name }} {{ profile.last_name }}</p>
    <p>Bio: {{ profile.bio }}</p>
    <p>Date of birth: {{ profile.date_of_birth }}</p>
    <p>Email: {{ profile.email }}</p>
    <p>Gender: {{ profile.gender }}</p>
    <p>Posts: {{ posts_count }}</p>
    <p>Likes: {{ likes_count }}</p>
    {% for post in posts %}
        <div class="post">
        <h4>{{ post.caption }}</h4>
        <p>Likes: {{ post.likes }}</p>
        {% if post.photo %}
            <img class="image" src="{{ post.photo.url }}">
        {% endif %}
            <p>Published on: {{ post.publication_date }}</p>
        </div>
    {% endfor %}
{% endblock %}