{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    {% if is_owner %}
        <a href="{% url 'profile edit' request.user.id %}">Edit Profile</a>
        <a href="{% url 'profile delete' request.user.id %}">Delete profile</a>
        {#        #ask for password#}
    {% else %}
{#        <form action="{% url 'follow' profile.user_id %}">#}
{##}
{#        </form>#}

        <a href="{% url 'follow' profile.user_id %}">Follow</a>

    {% endif %}
    <hr>
    <h5>Username: {{ profile.user.username }}</h5>
    {% if profile.picture %}
        <img class="image" src="{{ profile.picture.url }}">
    {% else %}
        <img class="image" src="{% static 'images/no_profile_picture.png' %}">
    {% endif %}

    <p>Name: {{ profile.full_name }}</p>
    <p>Bio: {{ profile.bio }}</p>
    <p>Date of birth: {{ profile.date_of_birth }}</p>
    <p>Email: {{ profile.email }}</p>
    <p>Gender: {{ profile.gender }}</p>
    <p>Posts: {{ posts_count }}</p>
    <p>Likes: {{ likes_count }}</p>
    <p>Followers: {{ followers_count }}<p>
    <p>Following: {{ following_count }}<p>

    {% for post in posts %}
        <div class="post">
            <h4>{{ post.caption }}</h4>
            {% if post.photo %}
                <img class="image" src="{{ post.photo.url }}">
            {% endif %}
            <p>Likes: {{ post.likes }}</p>
            <p>Published on: {{ post.publication_date }}</p>
            {% if is_owner %}
                <a href="{% url 'post edit' post.id %}">Edit post</a>
                <a href="{% url 'post delete' post.id %}">Delete post</a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}