{% extends 'base.html' %}
{% load liked_post %}
{% load static %}
{% block page_content %}
    {% if is_owner %}
        <a href="{% url 'profile edit' request.user.id %}">Edit Profile</a>
        <a href="{% url 'profile delete' request.user.id %}">Delete profile</a>
        {#        #ask for password#}
    {% else %}
{#        <a href="{% url 'follow' profile.user_id %}">Follow</a>#}
        <form action="{% url 'follow' profile.user_id %}" method="POST" class='follow-form' id='{{ profile.user_id }}'>
            {% csrf_token %}
            <input type="hidden" name="user_id" value={{ profile.user_id }}>

            <button type="submit" class="follow-button-{{ profile.user_id }}">
                {% if user_profile not in profile.followers.all %}
                    Follow
                {% else %}
                    Unfollow
                {% endif %}
            </button>
        </form>
    {% endif %}
    <hr>
    <h5>Username: {{ profile.user.username }}</h5>
    {% if profile.picture %}
        <img class="image" src="{{ profile.picture.url }}">
    {% else %}
        <img class="image" src="{% static 'images/no_profile_picture.png' %}">
    {% endif %}

    <p>Name: {{ profile.full_name }}</p>
    <p>Bio: {{ profile.bio }}</p>
    <p>Date of birth: {{ profile.date_of_birth }}</p>
    <p>Email: {{ profile.email }}</p>
    <p>Gender: {{ profile.gender }}</p>
    <p>Posts: {{ posts_count }}</p>
    <p>Likes: {{ likes_count }}</p>
    <p>Followers: <p>
    <p class="follower-count-{{ profile.user_id }}">{{ follower_count }}</p>
    <p>Following: {{ following_count }}<p>

    {% for post in posts %}
        <div class="post">
            <h4>{{ post.caption }}</h4>
            {% if post.photo %}
                <img class="image" src="{{ post.photo.url }}">
            {% endif %}
            <p>Likes: </p>
            <p class="like-count-{{ post.id }}">{{ post.likes.count }}</p>
            <p>Published on: {{ post.publication_date }}</p>
            {#            {% if post|liked_by:request.user.id %}#}
            <form action="{% url 'post like' post.id %}" method="POST" class='like-form' id='{{ post.id }}'>
                {% csrf_token %}
                <input type="hidden" name="post_id" value={{ post.id }}l>

                <button type="submit" class="like-button-{{ post.id }}">
                    {% if request.user not in post.likes.all %}
                        Like
                    {% else %}
                        Unlike
                    {% endif %}
                </button>
            </form>
            {% if is_owner %}
                <a href="{% url 'post edit' post.id %}">Edit post</a>
                <a href="{% url 'post delete' post.id %}">Delete post</a>
            {% endif %}
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
    {% endfor %}
{% endblock %}