{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block page_content %}
    <div class="d-flex justify-content-center">
        <form method="post" action="{% url 'register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                <div class="col-auto" style="width: 400px;">
                    {{ form.username|as_crispy_field }}
                    {{ form.password1|as_crispy_field }}
                    {{ form.password2|as_crispy_field }}
                    {{ form.bio|as_crispy_field }}
                    {{ form.country|as_crispy_field }}
                </div>
                <div class="col-auto">
                    {{ form.first_name|as_crispy_field }}
                    {{ form.last_name|as_crispy_field }}
                    {{ form.date_of_birth|as_crispy_field }}
                    {{ form.email|as_crispy_field }}
                    {{ form.gender|as_crispy_field }}
                    {{ form.picture|as_crispy_field }}

                </div>
            </div>
            <button type="submit" class="mt-2 mb-2 btn btn-success">Sign up</button>
            <h4>Have an account? <a href="{% url 'login' %}">Log in</a></h4>
            <h4>Or browse as a <a href="{% url 'home' %}">guest</a></h4>
        </form>
    </div>
{% endblock %}