{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    {% if not search and not show_all %}
        <h1 class="mb-4 text-center">You didn't search for anything :(</h1>
    {% else %}
        {% if profiles %}
            {% if search %}
                <h1 class="mb-4 text-center">Showing results for "{{ search }}"</h1>
            {% else %}
                <h1 class="mb-4 text-center">Showing all profiles</h1>
            {% endif %}
            <div class="row mb-lg-4 justify-content-center">
                {% for profile in profiles %}
                    <div class="col-auto">
                        <div class="card mb-4" style="width: 18rem;">
                            <img class="card-img-top" src="
                        {% if profile.picture %}
                        {{ profile.picture.url }}
                        {% else %}
                        {% static 'images/no_profile_picture.png' %}
                        {% endif %}
                        " alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><a
                                        href="{% url 'profile details' profile.user_id %}">{{ profile.user.username }}</a>
                                </h5>
                                {% if profile.first_name and profile.last_name %}
                                    <p class="card-text">Name: {{ profile.full_name }}</p>
                                {% elif profile.first_name %}
                                    <p class="card-text">First name: {{ profile.first_name }}</p>
                                {% elif profile.last_name %}
                                    <p class="card-text">Last name: {{ profile.last_name }}</p>
                                {% endif %}
                                <form action="{% url 'follow' profile.user_id %}" method="POST"
                                        {% if request.user.is_authenticated %}
                                      class='follow-form'
                                        {% endif %}
                                      id='{{ profile.user_id }}'>
                                    {% csrf_token %}
                                    <button type="submit"
                                            class="btn btn-secondary follow-button-{{ profile.user_id }}"
                                            style="width: 95px">
                                        {% if user_profile not in profile.followers.all %}
                                            Follow
                                        {% else %}
                                            Unfollow
                                        {% endif %}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% elif not search and show_all %}
            <h1 class="mb-4 text-center">There are still no other users :(</h1>
        {% else %}
            <h1 class="text-center">No results for "{{ search }}" :(</h1>
        {% endif %}
    {% endif %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="{% static 'js/dynamic_like_and_follow_script.js' %}"></script>
{% endblock %}