<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <style>
        .image{
            max-width: 200px;
            max-height: 200px;
        }
        .post{
            border-style: inset;
            border-color: lightgreen;
        }
    </style>
</head>
<body>
{% if request.user.is_authenticated %}
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'profile details' request.user.id %}">Profile
        details</a>
    <a href="{% url 'logout' %}">Log out</a>
    <a href="{% url 'create post' %}">Post something</a>
{% endif %}
{% block page_content %}
{% endblock %}
</body>
</html>